<div class="db_background_img"></div>

<h1 class="db_h1">Welcome, <%= @user.first_name %>!</h1>

<h2>Garden Dashboard</h2>

<% if @user.gardens.count > 0 %>
  <section class="garden-links">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <button type="button" class="btn btn-secondary">
        <%= link_to 'View Watering Schedule', schedules_path(anchor: "today"), class: "btn" %>
      </button>
      <button type="button" class="btn btn-secondary">
        <%= button_to 'Generate Watering Schedule', schedules_path, class: "btn" %>
      </button>
      <button type="button" class="btn btn-secondary">
        <%= button_to 'Create New Garden', new_garden_path, method: :get, class: "btn" %>
      </button>
      <br>
    </div>
  </section>
  <section class="gardens-container">
    <% @user.gardens.each do |garden| %>
      <div class="card">
        <div id="garden-<%= garden.id %>">
          <% if garden.lat && garden.long %>
            <h3>Weather in <%= link_to garden.name, garden_path(garden) %> (<%= garden.zip_code %>):</h3>
            <% @next_seven_days.each_with_index do |date, index| %>
              <h5 class="weather_day"><%= date %>, Chance of Rain: <%= @facade.weather(garden.lat, garden.long).chance_of_rain(index).round(0) %>%</h5>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
<% else %>
  <section class="no-gardens">
    <h3>No Gardens Created Yet!</h3>
    <%= button_to 'Create New Garden', new_garden_path, method: :get %>
  </section>
<% end %>
