<h1>Welcome, <%= @user.first_name %>!</h1>

<h2>Garden Dashboard</h2>
<% if @user.gardens.count > 0 %>
  <%= button_to 'Create Garden', new_garden_path, method: :get %>
  <% @user.gardens.each do |garden| %>
    <div id="garden-<%= garden.id %>"
      <h3><%= link_to garden.name, garden_path(garden) %></h3>
      <h3><%= garden.zip_code %></h3>
    </div>
  <% end %>
<% else %>
  <h3>No Gardens Created Yet!</h3>
  <%= button_to 'Create Garden', new_garden_path, method: :get %>
<% end %>
<% if @user.latitude && @user.longitude %>
  <div class="weather">
    <h2>Weather</h2>
    <ul>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Today: Wednesday Chance of rain: <%= @presenter.chance_of_rain(0) %>%</li>
      <li>Thursday Chance of rain: <%= @presenter.chance_of_rain(1) %>%</li>
      <li>Friday Chance of rain: <%= @presenter.chance_of_rain(2) %>%</li>
      <li>Saturday Chance of rain: <%= @presenter.chance_of_rain(3) %>%</li>
      <li>Sunday Chance of rain: <%= @presenter.chance_of_rain(4) %>%</li>
    </ul>
  </div>
<% end %>
