<div class="droppable">
  <% day.gardens.each do |garden| %>
    <div id="garden-<%= garden.id %>-<%= day.css_name %>"
      <% binding.pry %>
         class="garden-<%= garden.id %> garden-container <%=  %>">
      <%= link_to(garden_path(garden)) do %>
        <h6 class="garden-day-header"><%= garden.name %></h6>
      <% end %>
      <%= render partial: "checkboxes", locals: {plants: garden.plants} %>
    </div>
  <% end %>
  <p <%= day.waterings? ? "hidden=true" : "" %> class="no-waterings">No waterings scheduled today.</p>
</div>
