<h1>Update Plant Information</h1>
<div class="form_container">
<%= form_for(@plant, multipart: true) do |f| %>
  <%= render partial: "/errors/validations_failed" %>
  <div class="form-group">
    <%= f.label :name, "Plant Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :times_per_week, "How many times per week should I be watered?" %>
    <%= f.text_field :times_per_week, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
  <% end %>
</div>
