<h1>Add a Plant to Your Garden!</h1>
<%= form_for [@garden, @plant] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :times_per_week, 'Watering Requirements' %>
  <%= f.text_field :times_per_week %>
  <%= f.submit %>
<% end %>