<h1>Add a Plant to Your Garden!</h1>
<div class="form_container">
<%= form_for [@garden, @plant] do |f| %>
  <%= render partial: "/errors/validations_failed" %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Plant Name", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :times_per_week, placeholder: "Watering Requirements", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
</div>
