<h1>Update Garden Information</h1>
<%= form_for @garden do |f| %>
  <%= render partial: "/errors/validations_failed" %>
  <%= f.label :name, "Garden Name" %>
  <%= f.text_field :name %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.submit %>
<% end %>
