<h1>Update Garden Information</h1>
<div class="form_container">
<%= form_for @garden do |f| %>
  <%= render partial: "/errors/validations_failed" %>
  <div class="form-group">
    <%= f.label :name, "Garden Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
