<h1>Create a New Garden</h1>
<%= form_for @garden do |f| %>
  <ul>
    <% if @errors %>
      <div class="flash">
        <%= @errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </div>
    <% end %>
    </ul>
  <%= f.label :name, "Garden Name" %>
  <%= f.text_field :name %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
    <p>Let's Get Your Garden Started with a Few Plants!</p>
    <ul>
      <%= f.fields_for :plants do |plants_form| %>
        <li>
          <%= plants_form.label :name, "Plant Name" %>
          <%= plants_form.text_field :name %>
          <%= plants_form.label :times_per_week, "Plant Watering Requirements" %>
          <%= plants_form.text_field :times_per_week %>
        </li>
      <% end %>
    </ul>
  <%= f.submit %>
<% end %>
