<h1><%= @garden.name %></h1>
<p>Zip Code: <%= @garden.zip_code %></p>
<div class="plants">
  <ul>
    <% @garden.plants.each do |plant| %>

      <div class="plant" id="plant-<%= plant.id %>"
        <li>
          <%= plant.name %><br />
          Watering Requirements: <%= plant.times_per_week.round(0) %> times/week<br />
          <%= button_to 'Remove Plant', plant_path(plant), method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
      </div>

    <% end %>
  </ul>
</div>
<%= link_to 'Add a Plant to Your Garden!', new_garden_plant_path(@garden) %>

<%= button_to 'Delete Garden', garden_path(@garden), method: :delete, data: {confirm: "Are you sure?"} %>

<%= link_to 'Update Garden Information', edit_garden_path(@garden) %>
