<!DOCTYPE html>
<html>
  <head>
    <title>ThirstyPlants</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <% flash.each do |type, message| %>
       <div class="alert alert-<%= type %>">
         <%= message %>
       </div>
     <% end %>
    <%= yield %>
  </body>
</html>
