<!DOCTYPE html>
<html>
  <head>
    <title>Thirsty Plants</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Dashboard', dashboard_path, class: "nav-item nav-link"%>
          <%= link_to 'My Gardens', gardens_path, class: "nav-item nav-link"%>
          <%= link_to 'Schedule', schedules_path, class: "nav-item nav-link"%>
          <%= link_to 'Sign Out', signout_path, class: "nav-item nav-link"%>
        </div>
      </div>
    </nav>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
